<div class = "col-sm-2"></div>
<div class = "col-sm-8 well">
<br>
<% if current_user %>
<%=link_to "Upload New Image", new_post_path, class: "upload-link btn btn-primary" %><br>
    <% @posts.each do |post|%><br>
        <div class = "image-details">
        <b><%= link_to post.user.fullname, user_path(post.user_id) %></b><br>
        <%= time_ago_in_words(post.time) unless post.time.blank?%>&nbsp;
        <%= link_to "Go to Post", post_path(post.id) %><br>
        </div>
        <div class = "text-center">
        <%= image_tag post.images[0].display.url if post.images[0]%><br>
        </div>
        <div class = "image-details">
        <span class="likes_count"> <%= post.likes.count %> </span> <span class="likes-word"><%= 'like'.pluralize(post.likes.count) %></span>
        <%= link_to post_likes_path(post), class: 'likes-link' do %>
        Like<br>
        <% end %>
    <%= post.caption %><br>
        <% post.comments.each do |comment|%>
        <b><%= link_to comment.user.fullname, user_path(comment.user_id)%></b>&nbsp;<%= comment.comments%><br>
    <%end%>
    
    <%= form_for [post, @comment] do |form| %>
        <%= form.text_area :comments, placeholder: "Add a comment...", id: 'new-comment-text' %>
        <%= form.submit "Submit", class: 'submit-comment-button' %>
        <%end%>
    </div>
    <%end%>
</div>
<% else %>
    <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    <%end%>
<%end%>
<div class = "col-sm-2"></div>